<footer class="footer">
  <div class="footer__content">
		<div class="footer__content-item footer__left-menu">
			{{#each footer.leftMenuItems}}
        <div class="footer__left-menu-item">
					<img src="./assets/images/footer/{{this.img}}"/>
          <div>
						{{#each this.links}}
							{{#ifEquals this.type 'text'}}
								<div class="footer__left-menu-link {{this.class}}">{{this.text}}</div>
							{{/ifEquals}}
							{{#ifEquals this.type 'link'}}
								<div class="footer__left-menu-link {{this.class}}" target="_blank" href="{{this.href}}">{{this.text}}</div>
							{{/ifEquals}}
						{{/each}}
          </div>
        </div>
			{{/each}}
    </div> 
    <div class="footer__content-item footer__middle-menu">
      <img class="footer__middle-menu-img script_logo" src="{{!logo_file}}" alt="logo"/>
      <div>© 2023 Copyright</div>
    </div>
    <div class="footer__content-item footer__right-menu">
      <div class="footer__right-menu-content">
				{{#each footer.rightMenuItems}}
					<div class="footer__right-menu-item">
						<a class="footer__right-menu-link {{this.class}}" target="_blank" href="{{this.href}}">{{this.text}}</a>
          </div>
				{{/each}}
      </div>
    </div>
  </div>
</footer>